NODE_ENV=

# Nombre de la Empresa
COMPANY_NAME=
DEVICE_NAME=

# URLs y Puertos
BACKEND_URL=
FRONTEND_URL=
WEBHOOK=
PORT=
PROXY_PORT=

# Ruta del Chrome
# Windows: C:\Program Files\Google\Chrome\Application\chrome.exe
# Linux: /usr/bin/google-chrome-stable
CHROME_BIN=

# Datos de acceso a la Base de datos
DB_DIALECT=
DB_HOST=
DB_TIMEZONE=
DB_USER=
DB_PASS=
DB_NAME=

# Limitar Usuarios y Conexiones
USER_LIMIT=
CONNECTIONS_LIMIT=

# Modo DEMO para activar: ON
DEMO=

# Credenciales del Email para Nodemailer
EMAIL_USER=
EMAIL_PASS=

PM2_FRONTEND=
PM2_BACKEND=

# Claves JWT (generar con: openssl rand -base64 32)
JWT_SECRET=
JWT_REFRESH_SECRET=
